<platform name="android">
<config-file parent="/*" target="res/xml/config.xml">
<feature name="BarcodeMencurigakan">
<param name="android-package" value="com.example.barcode_mencurigakan.BarcodeMencurigakan" />
</feature>
</config-file>
        <source-file src="src/android/BarcodeMencurigakan.java" target-dir="src/com/example/barcode_mencurigakan" />
        <framework src="com.rscja:barcode:1.0.0" />
</platform>
</plugin>
